html {
    height: 100%;
}

#index_body {
    font-family: Arial, Helvetica, sans-serif;
    background-image: url(images/kitchen.jpg);
    background-size: cover;
}

#body_alfredo {
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    background-image: linear-gradient(to bottom right, red, yellow);
    background-size: cover;
}

.odin_recipes {
    width:400px;
    border-style: solid;
    background-image: linear-gradient(to bottom right,red, yellow)
}

.index_header {
    font-size: 60px;
}

.recipes {
    list-style-type: none;
    padding: 0;
}

.recipes .list {
    padding-left: 45px;
    padding-bottom: 10px;
    background: url(images/pizza_sticker.png) no-repeat 0 0;
    background-size: 40px 40px;
    list-style-position: inside;
}

.alfredo_header {
    font-size:50px;
}