html {
    height: 100%;
}

#index_body {
    font-family: Arial, Helvetica, sans-serif;
    background-image: url(images/kitchen.jpg);
    background-size: cover;
}

.odin_recipes {
    width:400px;
    border-style: solid;
    background-image: linear-gradient(to bottom right,red, yellow)
}

.index_header {
    font-size: 60px;
}

.recipes {
    list-style-type: none;
    padding: 0;
}

.recipes .list {
    padding-left: 45px;
    padding-bottom: 10px;
    background: url(images/pizza_sticker.png) no-repeat 0 0;
    background-size: 40px 40px;
    list-style-position: inside;
}

#body_alfredo {
    font-family: Arial, Helvetica, sans-serif;
    background-image: linear-gradient(to bottom right, red, yellow);
    background-size: cover;
    padding: 20px;
}

.alfredo_header {
    font-size:55px;
}

.alfredo_img { 
    width:400px
}

.p_alfredo {
    font-size:20px;
    margin:auto;
}

.alfredo_ingredients_title {
    list-style-type: none;
    padding: 0;
}

.alfredo_ingredients_lists {
    padding-left: 45px;
    padding-bottom: 10px;
    background: url(./images/cheese_sticker.png) no-repeat 0 0;
    background-size: 30px 30px;
    list-style-position: inside;
    font-size: 20px;
}

.alfredo_steps_lists {
    font-size:20px;
}

#garlic_body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: cornflowerblue;
}

.garlic_ingredients_title {
    list-style-type: none;
    padding: 0;
}

.garlic_ingredients_lists {
    padding-left: 45px;
    padding-bottom: 20px;
    background: url(.//images/bread_sticker.png) no-repeat 0 0;
    background-size: 40px 40px;
    list-style-position: inside;
}

#salmon_body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: rgb(155, 40, 165);
}

.salmon_ingredients {
    list-style-type: none;
    padding: 0;
}

.salmon_ingredients .salmon_lists {
    padding-left: 45px;
    padding-bottom: 20px;
    background: url(.//images/fish_sticker.webp) no-repeat 0 0;
    background-size: 40px 40px;
    list-style-position: inside;
    margin-left:5px;
}